body {
  padding-top: 100px;
  padding-bottom: 40px;
}

body.signup {
  background-color: #f5f5f5;
}

.form-signup {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signup .form-signin-heading,
.form-signup .checkbox {
  margin-bottom: 10px;
}
.form-signup input[type="text"],
.form-signup input[type="email"],
.form-signup input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.not-liked, .not-liked:focus {
  color: #ccc;
  text-decoration: none;
}

.liked, .liked:focus {
  color: #00f;
  text-decoration: none;
}

.not-liked:hover {
  color: #77f;
}

.liked:hover {
  color: #ddf;
}

.form-search input[type="text"] {
  font-size: 16px;
  height: auto;
}
