<?php echo $this->doctype(); ?>

<html lang="en">
<head>
  <meta charset="utf-8">
  <?php echo $this->headTitle($this->translate('Test Mini Site'))->setSeparator(' - ')->setAutoEscape(false) ?>

  <?php
  echo $this->headMeta()
    ->appendName('viewport', 'width=device-width, initial-scale=1.0')
    ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
  ?>

  <!-- Styles -->
  <?php
  echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
    ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
    ->prependStylesheet($this->basePath() . '/css/font-awesome.min.css')
    ->prependStylesheet($this->basePath() . '/css/style.css')
  ?>

  <!-- Scripts -->
  <?php
  echo $this->headScript()
    ->prependFile($this->basePath() . '/js/jquery.min.js')
    ->prependFile($this->basePath() . '/js/bootstrap.min.js')
    ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
    ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
  ?>

</head>
<body class="<?php echo $this->bodyClass; ?>">

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Home') ?></a>
        <?php echo $this->logInOut;?>
      </div>
    </div>
  </div>

  <div class="container">
    <?php echo $this->content; ?>
  </div><!-- .container -->
  <?php echo $this->inlineScript() ?>

</body>
</html>
