<?php
print $this->showMessages();

$this->headScript()->appendFile($this->basePath() . '/js/index.js');
$this->headScript()->captureStart();
?>
  var likeUrl = '<?php echo $this->url('like');?>';
<?php
$this->headScript()->captureEnd();
?>

<?php if (!empty($users)): ?>

<div id="alerts"></div>

<div class="row-fluid">
  <div class="span4">
    remain likes: <span id="remain-likes"><?php echo $remainLikes;?></span>
  </div>
  <div class="span4 offset4">
<?php echo $this->partial($search);?>
  </div>
</div>

<?php echo $this->partial($paginator);?>

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Registered</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
<?php
foreach ($users as $user):
$class = isset($likes[$user->getId()]) ? 'liked' : 'not-liked';
?>
  <tr>
    <td><?php echo $user->getId();?></td>
    <td><?php echo $user->getName();?></td>
    <td><?php echo $user->getEmail();?></td>
    <td><?php echo $user->getRegistered()->format('d-M-Y H:i:s');?></td>
    <td><a href="#" data-user="<?php echo $user->getId();?>" data-status="<?php echo $class;?>" class="like <?php echo $class;?>"><i class="fa fa-thumbs-o-up fa-2x"></i></a></td>
  </tr>
<?php endforeach; ?>
  </tbody>
</table>

<?php echo $this->partial($paginator);?>

<?php else: ?>
<div class="alert">
  <?php echo $this->translate('Users not found');?>
</div>
<?php endif;?>