<?php
if (0<$pages->pageCount && $pages->first!=$pages->last): //=show paginator
$query = array();
if (0<strlen($search)) {
  $query['search'] = $search;
}
$firstPage = $this->url($this->route, array(), array('query'=>$query));
$query['page'] = '';
$url_tpl = $this->url($this->route, array(), array('query'=>$query));
//не совсем хорошее решение, но url helper ескейпит данные и вместо % получаем %25
$url_tpl = str_replace('page=', 'page=%d', $url_tpl);
?>
<div class="pagination pagination-centered">
<ul>

  <li<?php echo ($pages->first==$pages->current) ? ' class="disabled"' : '';?>><a href="<?php echo $firstPage;?>">&laquo;</a></li>
  <?php if (isset($pages->previous)): ?>
  <li><a href="<?php echo (1==$pages->previous) ? $firstPage : sprintf($url_tpl, $pages->previous);?>">Prev</a></li>
  <?php endif;?>

  <?php foreach ($pages->pagesInRange as $page):?>
  <li<?php echo ($page==$pages->current) ? ' class="active"' : '';?>><a href="<?php echo (1==$page) ? $firstPage : sprintf($url_tpl, $page);?>"><?php echo $page;?></a></li>
  <?php endforeach;?>
  <?php if (isset($pages->next)): ?>
  <li><a href="<?php echo sprintf($url_tpl, $pages->next);?>">Next</a></li>
  <?php endif;?>
  <li<?php echo ($pages->last==$pages->current) ? ' class="disabled"' : '';?>><a href="<?php echo sprintf($url_tpl, $pages->last);?>">&raquo;</a></li>
</ul>
</div>
<?php endif; //=!show paginator?>